<!-- TOGGLE NAVIGATION -->
<li class="xn-icon-button">
    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
</li>
<!-- END TOGGLE NAVIGATION -->
<!-- 查询框 -->
<!--<li class="xn-search">
    <form role="form">
        <input type="text" name="search" placeholder="Search..."/>
    </form>
</li>-->
<!-- END 查询框 -->
<!-- 登出 -->
<li class="xn-icon-button pull-right">
    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
</li>
<!-- END 登出 -->
