@{

    Layout = null;
}
@if (ViewBag.edit == 0)
{
    <div class="form-group">
        <label for="AdminName"><span class="glyphicon glyphicon-user"></span>分类名称</label>
        @Html.TextBox("name", null, new { placeholder = "输入名称", Class = "form-control" })
    </div>
}
else
{
    foreach (FoodCityBackstage.Models.BannderType item in ViewBag.bander)
    {
        <div class="form-group">
            <label for="AdminName"><span class="glyphicon glyphicon-user"></span>分类名称</label>
            @Html.TextBox("name", item.BannderTypename, new { placeholder = "输入名称", Class = "form-control" })
        </div>

    }
}
